include LICENSE
include README.md

recursive-include ppocr/utils *.*
recursive-include ppocr/data *.py
recursive-include ppocr/postprocess *.py
recursive-include ppocr/tools *
recursive-include ppocr/utils/e2e_utils *.py
recursive-include ppstructure *.py